.tab_list li {
	display: inline;
}

.main_table_td {
	vertical-align: top;
}

#results_table_table {
	border-collapse: separate;
	border-spacing: 4em 1em;
}

fieldset .filter_content {
	display: none;
}

legend {
	cursor: pointer;
}